 a {
            font-size: larger;
            font-weight: bold;
            color: rgb(213, 19, 19);
            text-decoration: none;
        }

        ol {
            display: flex;
            list-style-type: none;
            align-items: center;
            justify-content: space-around;
        }

        header {
            display: flex;
            background-color: rgb(39, 37, 37);
            align-items: center;
            justify-content: space-between;
        }
        div{
            width: 30%;
        }
        nav{
            width: 50%;
        }