h2{
    position: static;
    left: 200px;
    
}
.box{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
     border-radius: 20px;
}
.relative{
    
    background-color: lightseagreen;
   
    
    position: relative;
    top: 70px;
    
}
.absolute{
    background-color: lightcoral;
    
    position: absolute;
    top: -50px;
    left: 200px;
}

.parent{
    background-color: lightgrey;
    width: 400px;
    height: 200px;
    position: relative;
    left: 100px;
}
.fixed{
    background-color: lightblue;
    /* position: fixed;
    bottom: 10px;
    right: 10px; */
    top: 10px;
    left: 50%;

    position: fixed;
    transform: rotate(200deg)
}
.sticky{
    background-color: rgb(232, 232, 10);
    /* position: sticky;
    top: 0;
    margin-top: 150px; */
    position: sticky;
    top:0px
}

.zindex-low{
    background-color: rgb(9, 233, 35);
    position: relative;
    /* top: 0px;
    left: 0px;
    z-index: 1; */
    top: 180px;
    z-index: 3;
    /* display: none; */
    opacity: 0;
    
}
.zindex-medium{
    background-color: rgb(233, 9, 9);
    /* position: relative;
    top: -70px;
    left: 20px;
    z-index: 5; */
    position: relative;
    top: 90px;
    z-index: 1;
}
.zindex-high{
    background-color: rgb(9, 9, 233);
    /* position: relative;
    top: -140px;
    left: 40px;
    z-index: 10; */
    position: relative;
    z-index: 2;

}

.zindex-low:hover {
opacity: 1;
}